@media only screen and (min-width: 1368px) {


    .bg-image {
        margin-top: 10rem;
        height: 90rem;
    }
}

@media only screen and (min-height:926px) {
    section {
        min-height: 150vh;
        padding: 8rem 9% 2rem;
    }

    .bg-image {

        background-size: cover;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
        height: 6rem;
        /* background-color: aliceblue; */
        justify-content: center;
        align-items: center;
    }

    .logo {
        position: absolute;
        right: 2.5rem;
        transform: translateY(4rem);
        z-index: 100;
        justify-content: end;
        text-align: right;
        align-items: end;
        width: 6rem;
        text-decoration: none;
        transition: 1s ease;
    }

    .pie-wrapper {
        height: .7em;
        width: .7em;
        float: left;
        margin: 10px 15px;
        position: relative;
    }

    .pie-wrapper--solid .label {
        background: transparent;
    }

    .pie-wrapper:nth-child(3n+1) {
        /* clear: both; */
    }

    .charts-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .pie-wrapper .label {
        background: var(--bg-complete);
        font-size: 0.15em;
    }

    .home-content .social-media {
        opacity: 1;
    }

    header a:hover img {
        transform: none;
    }

    header a img {
        margin: 0;
    }



    header ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.2rem;
    }

    .nav-item a {
        font-size: 1.2rem;
        margin: 0;
    }

    section {
        min-height: 100vh;
        width: 100%;
        padding: 8rem 9% 2rem;
    }

    .home img {
        min-width: 5vh;

    }

    .service-container .service-box {
        background-color: #463232ac;
    }

    .home,
    .about {
        display: flex;

        flex-direction: column;
    }

    .home-img img {
        margin-top: 5rem;
        max-width: 40vw;
        border-radius: 50vh;
    }

    .home-content {
        text-align: center;
        /* margin-top: 1rem; */
    }

    .home-content h3 {
        font-size: 1.6rem;
        height: 2rem;
    }

    .home-content h1 {
        line-height: 1.3;
        font-size: 2.6rem;
        font-weight: 700;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .home-content .btn-outline-primary {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 1rem;
    }

    .home-content p {
        font-size: 1.2rem;
    }


    .social-media a {
        margin-top: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        margin: 1rem .5rem 1.5rem .5rem;
    }

    .btn {
        height: 4rem;
        font-size: 1rem;
        text-align: center;
        width: 15rem;
        margin-bottom: 2rem;
    }


    .home-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-image {
        background: url(../img/bg-phone.jpeg);
        background-position: center;
        background-size: cover;
        z-index: -100;
        margin-top: 8rem;
        width: 100%;
        height: 62rem;
        position: fixed;
        background-repeat: no-repeat;
    }

    header a img {
        width: 5rem;
    }

    .about-img {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .about-img img {
        min-width: 45vw;

    }

    .about-content,
    .about-content .heading {
        text-align: center;
    }

    .about-content h3 {
        font-size: 1.3rem;
    }

    .about-content p {
        font-size: .9rem;
    }


    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .heading {
        font-size: 3.5rem;
    }

    .portfolio-layer h4 {
        font-size: 1rem;
    }

    .portfolio-layer p {
        font-size: .7rem;
        width: 100%;
    }

    .portfolio-layer a i {
        font-size: 1.5rem;
    }

    .portfolio-layer a {
        width: 2.5rem;
        height: 2.5rem;
    }

    .service-box box-icon,
    .service-box i {
        font-size: 4rem;
    }

    .service-box h3 {
        font-size: 1.3rem;
    }

    .service-box p {
        font-size: .9rem;
    }

    .service-container .service-box {
        flex: 1 2 10rem;
        padding: 1rem;
        margin: .5rem .1rem;
    }

    h1 img {
        width: 1rem;
    }

    .floater-menu {
        /* background-color: #000; */
        position: fixed;
        z-index: 1000;
        opacity: 0;
        margin: 50% 0;
        width: 8rem;
        height: 25rem;
    }

    .progress-bar span {

        font-size: 1.1rem;
    }

    #footer .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .spinner-border {
        display: none
    }

    .mb-3 {
        width: 28rem;
    }

    .mb-3 textarea {
        width: 28rem;
        height: 15rem;
    }

    h2 img {
        width: 7rem;
    }

    .home-content p {

        background-color: #2400008f;
        padding: 1.5% 2%;
        border-radius: 20px;

    }
}