@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
        height: 6rem;
        /* background-color: aliceblue; */
        justify-content: center;
        align-items: center;
    }

    .logo {
        position: absolute;
        right: 0;
        transform: translateY(4rem);
        z-index: 100;
        justify-content: end;
        text-align: right;
        align-items: end;
        width: 6rem;
        text-decoration: none;
        transition: 1s ease;
    }

    header a:hover img {
        transform: none;
    }

    header a img {
        margin: 0;
    }



    header ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.2rem;
    }

    .nav-item a {
        font-size: 1.2rem;
        margin: 0;
    }

    section {
        min-height: 100vh;
        padding: 8rem 9% 2rem;
    }

    .home img {
        min-width: 40vh;

    }

    .home,
    .about {
        display: flex;

        flex-direction: column;
    }

    .home-content {
        text-align: center;
        margin-top: 1rem;
    }

    .home-content h3 {
        font-size: 1.6rem;
    }

    .home-content h1 {
        font-size: 2.8rem;
    }

    .home-content p {
        font-size: 1.2rem;
    }


    .social-media a {
        margin-top: 1rem;
    }

    .btn {
        height: 4rem;
        font-size: 1rem;
        text-align: center;
        width: 15rem;
        margin-bottom: 2rem;
    }


    .home-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-image {
        background: url(../img/bg-phone.png);
        background-position: center;
        background-size: cover;
        z-index: -100;
        margin-top: 8rem;
        width: 100%;
        height: 62rem;
        position: fixed;
        background-repeat: no-repeat;
    }

    header a img {
        width: 5rem;
    }

    .about-img {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .about-img img {
        min-width: 45vw;

    }

    .about-content,
    .about-content .heading {
        text-align: center;
    }

    .about-content h3 {
        font-size: 1.3rem;
    }

    .about-content p {
        font-size: .9rem;
    }


    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .heading {
        font-size: 3.5rem;
    }

    .portfolio-layer h4 {
        font-size: 1rem;
    }

    .portfolio-layer p {
        font-size: .7rem;
        width: 100%;
    }

    .portfolio-layer a i {
        font-size: 1.5rem;
    }

    .portfolio-layer a {
        width: 2.5rem;
        height: 2.5rem;
    }

    .service-box box-icon,
    .service-box i {
        font-size: 4rem;
    }

    .service-box h3 {
        font-size: 1.3rem;
    }

    .service-box p {
        font-size: .9rem;
    }

    .service-container .service-box {
        flex: 1 2 10rem;
        padding: 1rem;
        margin: .5rem .1rem;
    }

}