@import url(https://fonts.googleapis.com/css?family=Lato:700);

:root {

    --side-bg-25: #e02915;
    --side-bg-45: #e05c15;
    --side-bg-75: #ede919;
    --side-bg-88: #b8fc0b;
    --side-bg-max: #22ea22;
    --bg-complete: #34495e;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.set-size {
    font-size: 10em;
}

.charts-container:after {
    clear: both;
    content: "";
    display: table;
}

.pie-wrapper {
    height: 1.1em;
    width: 1.1em;
    float: left;
    margin: 15px;
    position: relative;
}


.pie-wrapper:nth-child(5n+1) {
    clear: both;
}

.pie-wrapper .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
    left: 0;
    position: absolute;
    top: 0;
}

.pie-wrapper .pie .half-circle {
    height: 100%;
    width: 100%;
    border: 0.1em solid #3498db;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
    left: 0;
    position: absolute;
    top: 0;
}

.pie-wrapper .label {
    background: var(--bg-complete);
    border-radius: 50%;
    bottom: 0.4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 0.25em;
    left: 0.4em;
    line-height: 2.8em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.4em;
}

.pie-wrapper .label .smaller {
    font-size: .65em;
    color: #fff;
}

.pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 0.1em solid #bdc3c7;
    border-radius: 50%;
}

.pie-wrapper.style-2 .label {
    background: none;
    color: #7f8c8d;
}

.pie-wrapper.style-2 .label .smaller {
    color: #bdc3c7;
}

.pie-wrapper.progress-30 .pie .half-circle {
    border-color: #3498db;
}

.pie-wrapper.progress-30 .pie .left-side {
    transform: rotate(108deg);
}

.pie-wrapper.progress-30 .pie .right-side {
    display: none;
}

.pie-wrapper.progress-60 .pie {
    clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-60 .pie .half-circle {
    border-color: #9b59b6;
}

.pie-wrapper.progress-60 .pie .left-side {
    transform: rotate(216deg);
}

.pie-wrapper.progress-60 .pie .right-side {
    transform: rotate(180deg);
}

.pie-wrapper.progress-90 .pie {
    clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-90 .pie .half-circle {
    border-color: #e67e22;
}

.pie-wrapper.progress-90 .pie .left-side {
    transform: rotate(324deg);
}

.pie-wrapper.progress-90 .pie .right-side {
    transform: rotate(180deg);
}

.pie-wrapper.progress-45 .pie .half-circle {
    border-color: #1abc9c;
}

.pie-wrapper.progress-45 .pie .left-side {
    transform: rotate(162deg);
}

.pie-wrapper.progress-45 .pie .right-side {
    display: none;
}

.pie-wrapper.progress-75 .pie {
    clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-75 .pie .half-circle {
    border-color: #8e44ad;
}

.pie-wrapper.progress-75 .pie .left-side {
    transform: rotate(270deg);
}

.pie-wrapper.progress-75 .pie .right-side {
    transform: rotate(180deg);
}

.pie-wrapper.progress-95 .pie {
    clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-95 .pie .half-circle {
    border-color: #e74c3c;
}

.pie-wrapper.progress-95 .pie .left-side {
    transform: rotate(342deg);
}

.pie-wrapper.progress-95 .pie .right-side {
    transform: rotate(180deg);
}

.pie-wrapper--solid {
    border-radius: 50%;
    overflow: hidden;
}

.pie-wrapper--solid:before {
    border-radius: 0 100% 100% 0/50%;
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
}

/* .pie-wrapper--solid .label {
    background: transparent;
} */

.pie-wrapper--solid.progress-65 {
    background: linear-gradient(to right, #e67e22 50%, var(--bg-complete) 50%);
}

.pie-wrapper--solid.progress-65:before {
    background: #e67e22;
    transform: rotate(126deg);
}

.pie-wrapper--solid.progress-25 {
    background: linear-gradient(to right, var(--side-bg-25) 50%, var(--bg-complete) 50%);
}

.pie-wrapper--solid.progress-25:before {
    background: var(--bg-complete);
    transform: rotate(-270deg);
}

.pie-wrapper--solid.progress-88 {
    background: linear-gradient(to right, var(--side-bg-88) 50%, var(--bg-complete) 50%);
}

.pie-wrapper--solid.progress-88:before {
    background: var(--side-bg-88);
    transform: rotate(43.2deg);
}

.pie-wrapper--solid.progress-95 {
    background: linear-gradient(to right, var(--side-bg-max) 50%, var(--bg-complete) 50%);
}

.pie-wrapper--solid.progress-95:before {
    background: var(--side-bg-max);
    transform: rotate(18deg);
}

.pie-wrapper--solid.progress-75 {
    background: linear-gradient(to right, var(--side-bg-75) 50%, var(--bg-complete) 50%);
}

.pie-wrapper--solid.progress-75:before {
    background: var(--side-bg-75);
    transform: rotate(90deg);
}

.pie-wrapper--solid.progress-45 {
    background: linear-gradient(to right, var(--side-bg-45) 50%, var(--bg-complete) 50%);
}

.pie-wrapper--solid.progress-45:before {
    background: var(--side-bg-45);
    transform: rotate(198deg);
}

/*# sourceMappingURL=ProgressBar.css.map */